name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    outputs:
      jar-path: ${{ steps.set-jar-path.outputs.jar-path }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package --no-transfer-progress
  
      - name: Run tests
        run: mvn test
  
      - name: Save JAR path
        id: set-jar-path
        run: echo "jar-path=target/configCICD-0.0.1-SNAPSHOT.jar"
  
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: configCICD-jar
          path: target/configCICD-0.0.1-SNAPSHOT.jar
          
 # Уведомление о результате сборки (успех)
      - name: Notify on success
        if: success()
        run: |
          echo "✅ Сборка и тесты успешно завершены!"
          echo "JAR-файл сохранен как артефакт"
    
    # Уведомление о неудаче
      - name: Notify on failure
        if: failure()
        run: |
          echo "❌ Сборка или тесты завершились с ошибкой!"
          
  build-and-push-docker:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download JAR artifact
      uses: actions/download-artifact@v4
      with:
        name: configCICD-jar
        path: target

    - name: Log in Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_NAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKERHUB_NAME }}/configCICD:latest .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKERHUB_NAME }}/configCICD:latest

  deploy:
    needs: build-and-push-docker
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on VM via host machine
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.MY_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 50000
          script: |
            docker pull ${{ secrets.DOCKERHUB_NAME }}/configCICD:latest
            docker stop configCICD || true
            docker rm configCICD || true
            docker run -d --name configCICD -p 8080:8080 ${{ secrets.DOCKERHUB_NAME }}/configCICD:latest
